.nav-link {
  font-weight: 700;
  color: #fff;
}
  
.nav-link.active {
  color: rgba(255, 255, 255, .5);
}

.nav-link:hover, .nav-link:focus {
  color: rgba(255, 255, 255, .5);
  text-decoration: underline;
}
