.nav-link {
  font-weight: 700;
  color: #fff;
}
  
.nav-link.active {
  color: rgba(255, 255, 255, .5);
}

.nav-link:hover, .nav-link:focus {
  color: rgba(255, 255, 255, .5);
  text-decoration: underline;
}

@media (max-width: 425px) {
  .name {
      font-size: 1.5rem;
  }
}

.img-obj {
  height: 96px;
  background-color: #111;
}
@media (min-width: 375px) {
  .img-obj {
    height: 115px;
  }
}
@media (min-width: 425px) {
  .img-obj {
    height: 130px;
  }
}
@media (min-width: 500px) {
  .img-obj {
    height: 160px;
  }
}
@media (min-width: 576px) {
  .img-obj {
    height: 80px;
  }
}
@media (min-width: 768px) {
  .img-obj {
    height: 110px;
  }
}
@media (min-width: 992px) {
  .img-obj {
    height: 150px;
  }
}
@media (min-width: 1200px) {
  .img-obj {
    height: 180px;
  }
}

form > * {
	margin-bottom: .5rem;
}
